# Indique que ce dossier est la racine pour Lombok
config.stopBubbling = true

# Ajoute l'annotation @Generated sur le code produit par Lombok (parfait pour exclure Lombok de SonarQube/Couverture de tests)
lombok.addLombokGeneratedAnnotation = true

# Indispensable pour que MapStruct et Jackson comprennent bien les @Builder de Lombok
lombok.anyConstructor.addConstructorProperties = true